/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 févr. 2023, 14:02:00
    Author     : turki
*/
#Apane
{
    -fx-background-color:darkblue;
}
.button:hover {
    -fx-background-color: linear-gradient(#f1ad1a, #3b51cf);
}
.root {
    /*This applies styling for the root node*/
    -fx-background-color: linear-gradient(
      from 0% 0% to 100% 200%,
      repeat,
      #2756da 0%,
      #f89501 50%
    );
    -fx-font-family: "Lucida Console";
  }
.label {
    /* Styling for all Control with the class of 'label' */
    -fx-font-family: "Comic Sans MS";
    -fx-padding: -2px;
    -fx-start-margin: 2px;
    -fx-end-margin: 2px;
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
  }
  .text-field {
    -fx-font-family: "Trebuchet MS";
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-color: #f8f8f8;
    -fx-border-color: #999;
    -fx-border-width: 2px;
  }
  .border-pane {
    -fx-background-color: white;
    -fx-padding: 10px;
}

.border-pane > .top {
    -fx-background-color: #c100fc;
    -fx-padding: 5px;
}

.border-pane > .left {
    -fx-background-color: #f5f5f5;
    -fx-padding: 5px;
}

.border-pane > .center {
    -fx-padding: 5px;
}

.border-pane > .right {
    -fx-background-color: #c100fc;
    -fx-padding: 5px;
}

.border-pane > .bottom {
    -fx-background-color: #c100fc;
    -fx-padding: 5px;
}
.titleLabel {
    -fx-font-family: "Times New Roman";
    
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #943636;
    -fx-padding: 10px;
}
.labelmdp{
    -fx-font-family: "Times New Roman";
    
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-padding: 10px;
    -fx-wrap-text: true;
}