#AnchorPane {
    -fx-background-color: #F4F4F4;
}

#button_ajouter, #button_like, #button_dislike, #button_commenter, #button_affichercommentaire, #button_image, #button_supprimer {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
}

#table_annonce, #table_commentaire {
    -fx-background-color: white;
}

#texte_id_annonce, #texte_type, #texte_description, #texte_id_user, #texte_id_commentaire, #texte_annonce, #texte_comment, #texte_user1 {
    -fx-alignment: CENTER;
}

#texte_image {
    -fx-border-color: black;
    -fx-border-width: 2px;
}


.container{
    -fx-background-color: #ffffff;
    -fx-border-radius: 24;
    -fx-background-radius: 24;
}
.nom-produit{
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: #000000;
}
.logo-title{
    -fx-font-weight: bold;
    -fx-font-size: 32;
    -fx-text-fill: #000000;
}
.delete-btn{
    -fx-background-color: red;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}
.delete-btn:hover{
    -fx-opacity: 0.6;
}
.article-btn{
    -fx-background-color: #000000;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}
.article-btn:hover{
    -fx-opacity: 0.6;
}
.details-container{
    -fx-background-color: #ffffff;
}
.title-detail{
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 38;
}
.text-produit{
    -fx-text-fill: #000000;
    -fx-font-weight: normal;
    -fx-font-size: 24;
}
.recherche{
    -fx-fill: #2350d9;
    -fx-border-radius: 56px;
    -fx-arc-width: 30;
    -fx-arc-height: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}
.recherche-input{
    -fx-background-color: transparent;
    -fx-font-size: 12;
    -fx-text-fill: #ffffff;
}
.panier-container{
    -fx-background-color: #ffffff;
}
.panier-btn{
    -fx-cursor: hand;
}
.panier-btn:hover{
    -fx-opacity: 0.6;
}
.top-menu-btn{
    -fx-background-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}
.article-detail-container{
    -fx-background-color: #ffffff;
}
.text-produit-detail{
    -fx-text-fill: #000000;
    -fx-font-weight: normal;
    -fx-font-size: 32;
}
.scrollPane{
    -fx-background-color: #ffffff;
}
.scrollPane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 2px;
}
.scrollPane .scroll-bar:vertical .thumb{
    -fx-background-color: #000000;
}
.scrollPane .scroll-bar:vertical .thumb:hover{
    -fx-background-color: rgba(0,0,0,0.68);
}
.scrollPane .scroll-bar:vertical .decrement-button,
.scrollPane .scroll-bar:vertical .increment-button{
    -fx-background-color: transparent;
}
.vbox-container{
    -fx-background-color: #ffffff;
}
Écrire à Sadok Aouadi
